<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的博客</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header class="container text-center">
        <%- include('header')%>
    </header>
    <% if(locals.islogin) {%>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 banner">
                    <div class="banner-title">
                        <h2><%- user[0].name%>的博客</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <aside class="col-md-4 sidebar">
                 <div class="widget">
                     <div class="text-left col-sm-12">
                        <div class="person-img">

                            <img width="50" height="50" src="/img/<%- user[0].picture%>" class="img-circle" alt="">
                            <span class="person-name">&nbsp;<%- user[0].name%></span>
                            <a class="btn btn-warning" href="/regist/usermodify/<%- user[0]._id%>">编辑</a>
                        </div>
                        <div class="person-msg">
                            <p class="person-introduce">
                                <span>简介：</span>
                                <span><%- user[0].introduce%></span>
                            </p>
                            <p class="person-sex">
                                <span>性别：</span>
                                <span><%- user[0].sex%></span>
                            </p>
                        </div>
                        <div class="person-list text-center">
                            <ul>
                                <li>
                                    <span>原创</span><br>
                                    <span class="makeself">0</span>
                                </li>
                                <li>
                                    <span>粉丝</span><br>
                                    <span>0</span>
                                </li>
                                    <li>
                                    <span>关注</span><br>
                                    <span>0</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>

            <main>
                <div class="col-sm-12 col-md-8">
                <% if(list.length === 0) { %>

                 <div class="blog-content col-md-12 myblog">
                    <p class="lead">您尚未发布过文章， <a href="/addarticle">去发布文章</a>
                    </p>
                </div>
                <% }%>
            <% for(var i = 0, len = list.length; i < len; i++) {%>
             <div class="blog-content col-md-12 myblog">
                 <input type="hidden" class="article_id" name="aid" value="<%- list[i]._id %>">
                 <div class="text-left">
                      <p class="lead"><span>#<%- list[i].title %>#</span></p>
                      <div class="author">
                        <p><span class="author-name"><%- list[i].author%></span> 发布于
                          &nbsp;<time class="text-left"><%- list[i].date %>&nbsp;&nbsp;</time>
                          <span> <%- list[i].look %>&nbsp;次阅读</span>
                        </p>
                      </div>
                    <p class="lead"><%- list[i].content %></p>
                </div>
                <div class="wrap-foot">
                    <span>留言 <%- list[i].count %></span>
                    <div class="text-right article-more-do">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-down"></span></a>
                          <ul class="dropdown-menu">
                            <li><a class="comt-del" href="#">删除</a></li>
                            <li><a href="#">...</a></li>
                          </ul>
                    </div>
                </div>
            </div>
        <% } %>
         </div>
    </main>
</div>
</div>
</div>
<% } else{ %>
<div class="wrapper">
    <div class="container ">
        <div class="col-sm-12 col-md-12 blog-login ">
           <p class="lead">目前您尚未登录，请 <a href="/login">登录</a> 或 <a href="/regist">注册</a>
           </p>
       </div>
   </div>
</div>
<% } %>
<script type="text/javascript" src="/js/jquery.min.1.12.4.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/show.js"></script>
<script type="text/javascript">
    $(function(){

        $('.blog-content>.text-left').on('click', function(){  // 点击获取当前文章
            var id = $(this).parent().find('.article_id').val();
            location.href = "/showarticle/" + id;   // 跳转到指定页面
        });

        $('a.comt-del').on('click', function(){     // 删除当前
            var aid = $(this).parent().siblings('.article_id').val();
            console.log(aid);
            var flag = confirm('确认删除？');
            if(flag){
                    location.href = 'delarticle/' + aid;    // 删除该博文
                }
            });

        // 显示当前用户可操作博文

         function showUD(){
        var author = document.querySelectorAll('.author .author-name');
        $.ajax({
         url: '/addarticle/showUD/',
         dataType: 'json',
         success: function(data){
          console.log(data);
          $.each(author,function(i){
           if(author[i].innerText === data[0].author){  // 判断文章作者是否为当前登录用户
            $('.article-more-do').eq(i).show();
            console.log('sh')
          }
        })
        }
      })
      }
        showUD();
         // 取文章发布数
          // var id = $('.aid').eq(1).val();
          // console.log(id);
        $.ajax({
            url: '/showarticle/getarticlecount/'+ id,
            dataType: 'jsonp',
            success: function(data){
              console.log(data)
                var comtcout = '<span>' + data + '</span>';
                $('.person-list li>span.makeself').replaceWith(comtcout);
            }
        });
    });
</script>
</body>
</html>
</body>
</html>